<?xml version='1.0'?>
<launch>

    <arg name="joint_vel_topic" default="/arm_1/arm_controller/velocity_command"/>
    <arg name="joint_states_topic" default="/joint_states"/>
    <arg name="joy_topic" default="/joy"/>

    <arg name="control_rate" default="10.0"/>
    <arg name="tip_name" default="gripper_static_grasp_link"/>
    <arg name="open_loop" default="false"/>
    <arg name="named_configuration_file" default="$(find mir_joint_space_controller)/ros/config/named_configurations.yaml"/>

    <node pkg="mir_joint_space_controller" name="joint_space_controller"
          type="joint_space_controller_node" output="screen" >

        <remap from="~joint_vel" to="$(arg joint_vel_topic)"/>
        <remap from="~joint_states" to="$(arg joint_states_topic)"/>
        <remap from="~joy" to="$(arg joy_topic)"/>
        
        <param name="~control_rate" type="double" value="$(arg control_rate)"/>
        <param name="~tip_name" type="str" value="$(arg tip_name)"/>
        <param name="~open_loop" type="bool" value="$(arg open_loop)"/>
        <param name="~named_configuration_file" type="str" value="$(arg named_configuration_file)"/>
    </node>
</launch>
